@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

table {
    margin: auto;

    tr:nth-child(2n),
    thead tr {
        background-color: #ccc;
    }

    caption {
        font-weight: bold;
        font-size: 1.5rem;
    }

    thead td {
        font-weight: bold;
    }

    td {
        padding: 0.5em;
        text-align: center;
    }
}

.spinner {
    display: block;
}

p,
h1 {
    text-align: center;
}

p {
    font-size: 1.25rem;

    span {
        font-weight: bold;
    }
}
